Привeт!<br>
<br>
Это Telegram-бот CineMatch.<br>
<br>
Бот позволяет сыграть в игру - Угадай фильм по описанию!<br>
<br>
У тебя есть три попытки, чтобы победить!<br>
<br>

Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/newgame - начать новую игру<br>
